
PORT=

#Node-Env
NODE_ENV=

# NATS_SERVERS="nats://nats:4222,nats://nats:4223" in case you need more than one server
NATS_SERVERS=

#Docker
GAME_CONTAINER_NAME=
MARIADB_VERSION=
GAME_MARIADB_CONTAINER_NAME=

# Database
GAME_DB_PORT=
GAME_DB_HOST=
GAME_DB_NAME=
GAME_DB_ROOT_PASSWORD=
GAME_DB_USERNAME=
GAME_DB_PASSWORD=
