# COMMON
NODE_ENV=
MARIADB_VERSION=
NATS_SERVERS=

# Chess-Gateway
CHESS_GATEWAY_PORT=

# Auth-MS
AUTH_MS_PORT=
AUTH_CONTAINER_NAME=
AUTH_MARIADB_CONTAINER_NAME=
AUTH_DB_PORT=
AUTH_DB_HOST=
AUTH_DB_NAME=
AUTH_DB_ROOT_PASSWORD=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=
## Secret JWT to authentication
JWT_SECRET=