# COMMON
NODE_ENV=
MARIADB_VERSION=
NATS_SERVERS=

# Chess-Gateway
CHESS_GATEWAY_PORT=

# Auth-MS
AUTH_MS_PORT=
AUTH_CONTAINER_NAME=
AUTH_MARIADB_CONTAINER_NAME=
AUTH_DB_PORT=
AUTH_DB_HOST=
AUTH_DB_NAME=
AUTH_DB_ROOT_PASSWORD=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=
## Secret JWT to authentication
JWT_SECRET=

# Lesson-MS
LESSON_MS_PORT=
LESSON_CONTAINER_NAME=
LESSON_MARIADB_CONTAINER_NAME=
LESSON_DB_PORT=
LESSON_DB_HOST=
LESSON_DB_NAME=
LESSON_DB_ROOT_PASSWORD=
LESSON_DB_USERNAME=
LESSON_DB_PASSWORD=

# Game-MS
GAME_MS_PORT=
GAME_CONTAINER_NAME=
GAME_MARIADB_CONTAINER_NAME=
GAME_DB_PORT=
GAME_DB_HOST=
GAME_DB_NAME=
GAME_DB_ROOT_PASSWORD=
GAME_DB_USERNAME=
GAME_DB_PASSWORD=

# Payment-MS
PAYMENT_MS_PORT=
PAYMENT_CONTAINER_NAME=
PAYMENT_MARIADB_CONTAINER_NAME=
PAYMENT_DB_PORT=
PAYMENT_DB_HOST=
PAYMENT_DB_NAME=
PAYMENT_DB_ROOT_PASSWORD=
PAYMENT_DB_USERNAME=
PAYMENT_DB_PASSWORD=

# Nodemailer
WE_CHESS_EMAIL_USERNAME=
WE_CHESS_EMAIL_PASSWORD=