
PORT=3001

#Node-Env
NODE_ENV=development

# NATS_SERVERS="nats://nats:4222,nats://nats:4223" in case you need more than one server
NATS_SERVERS=nats://nats:4222

#Docker
AUTH_CONTAINER_NAME=
MARIADB_VERSION=
AUTH_MARIADB_CONTAINER_NAME=

# Database
AUTH_DB_PORT=
AUTH_DB_HOST=
AUTH_DB_NAME=
AUTH_DB_ROOT_PASSWORD=
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=

# Secret JWT to authentication
JWT_SECRET=
